<IfModule mod_rewrite.c>

    RewriteEngine On   

    RewriteRule ^([0-9a-zA-Z-_]+)$ index.php?page=$1 [QSA]
    RewriteRule ^api/image/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)$ assets/php/image.php?type=$1&id=$2 [QSA]
    RewriteRule ^api/config/([0-9a-zA-Z-_]+)$ assets/php/getGeneralData.php?id=$1 [QSA]
    RewriteRule ^api/dishes/([0-9a-zA-Z-_]+)$ assets/php/getDishes.php?id=$1 [QSA]
    RewriteRule ^api/singup_user  assets/php/singupuser.php [QSA]
    RewriteRule ^api/login_user  assets/php/loginUser.php [QSA]

    RewriteRule ^api/client/access  client/assets/php/access.php [QSA]
    RewriteRule ^api/client/singup  client/assets/php/singup.php [QSA]
    RewriteRule ^api/client/validate  client/assets/php/validation.php [QSA]
    RewriteRule ^api/client/image  client/assets/php/image.php [QSA]
    RewriteRule ^api/client/data  client/assets/php/getDataClient.php [QSA]

    RewriteRule ^home_user  assets/user/index.php [QSA]
    RewriteRule ^home_user  assets/user/index.php [QSA]

    # ADMIN API's
    RewriteRule ^api/admin/access  admin/assets/php/access.php [QSA]
    RewriteRule ^api/admin/user-relation  admin/assets/php/user-relation.php [QSA]
    
    # ADMIN ACCOUNT API's
    RewriteRule ^api/admin/profile  admin/assets/php/account/profile.php [QSA]
    RewriteRule ^api/admin/social_network  admin/assets/php/account/social_network.php [QSA]

    # Sin .php
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^([^\.]+)$ $1.php [NC,L]

    
</IfModule>