@font-face {
    font-family: 'gysmoy_font';
    src: url(../../../assets/fonts/Letters\ for\ Learners.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: gysmoy_font;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
form {
    padding: 100px 20px 20px;
    width: 100%;
    max-width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181d24;
    box-shadow: 0 0 10px #181d24bb;
    border-radius: 10px;
    text-align: center;
    color: #fdfdfd;
    transition: .3s;
}
form img {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    background-color: aliceblue;
    border: 5px solid #181d24;
    box-shadow: 0 0 10px #181d24bb;
    border-radius: 50%;
}
form h1 {
    font-weight: lighter;
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: larger;
}
form input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 20px;
    font-size: larger;
    outline: none;
    border-radius: 5px;
    border: none;
}
blockquote {
    margin: auto;
    width: max-content;
    font-size: large;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-left: 4px solid #0099cc;
    background-color: #0099cc22;
}
blockquote.success {
    border-left: 4px solid #007e33;
    background-color: #007e3322;
}
blockquote.danger {
    border-left: 4px solid #cc0000;
    background-color: #cc000022;
}
button {
    padding: 5px 10px;
    font-size: larger;
    border-radius: 5px;
    border: none;
    background-color: #00c851;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    outline: none;
    margin-bottom: 20px;
}
button[type="button"].btn-google {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    color: #181d24;
    font-weight: bold;
}
button[type="button"].btn-facebook {
    width: 100%;
    background-color: #3a5899;
    color: #fff;
    font-weight: bold;
}
button[type="button"].btn-google i,
button[type="button"].btn-facebook i {
    margin-right: 5px;
}
button:hover {
    background-color: #007e33;
}
button i {
    font-size: small;
}
@media (max-height: 600px) {
    form {
        position: relative;
        transform: unset;
        top: unset;
        left: unset;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}
@media (max-width: 360px) {
    form {
        position: relative;
        transform: unset;
        top: unset;
        left: unset;
        width: 100% !important;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0px;
        padding-top: 20px;
        height: 100vh;
    }
    form img {
        position: relative;
        transform: unset;
        top: unset;
        left: unset;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    form blockquote {
        max-width: 100%;
    }
}