body{
    background-color: rgb(245, 245, 245);
}

.conenedor-form{
  background-color: white;
    border-radius: 8px;
    position: relative;
    width: 400px;
    height: 400px;
}

.conenedor-form{
 
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 25%;
    left: 40%;
    margin: -25px 0 0 -25px;
}