.dish td.loading::before,
.dish td.loading::after {
    content: ' ';
    position: absolute;
    background-color: var(--contrast);
}
.dish td.loading::before {
    bottom: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
    border-radius: 30px 25px 5px;
    animation: image .5s linear infinite alternate;
}
.dish td.loading::after {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 5px 25px 30px;
    animation: image .5s linear infinite alternate-reverse;
}
.dish.loading .name {
    background: var(--contrast);
    border-radius: 5px;
    width: max-content;
    margin: auto;
    animation: shine .5s linear infinite alternate;
}
.dish.loading td i {
    display: block;
    background-color: var(--contrast);
    font-size: xx-large;
    width: 40px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    animation: shine .5s linear infinite alternate;
}
.dish.loading fieldset {
    background-color: var(--contrast);
    border-color: var(--contrast);
    animation: shine .5s linear infinite alternate;
}
.dish.loading fieldset legend {
    background-color: transparent !important;
    color: transparent;
    border-color: transparent !important;
}

@keyframes shine {
    0% {
        filter: opacity(0.15);
    }
    50% {
        filter: opacity(0.20);
    }
    100% {
        filter: opacity(0.25);
    }
}
@keyframes image {
    0% {
        width: 20px;
        height: 20px;
        filter: opacity(0.15);
    }
    50% {
        width: 35px;
        height: 35px;
        filter: opacity(0.20);
    }
    100% {
        width: 50px;
        height: 50px;
        filter: opacity(0.25);
    }
}